<h1>Edit Address</h1>

<%= form_for @address, :url =>{:action => "update", :id =>@address} do |addr| %>

<p>FirstName: <%= addr.text_field 'fname' %></p>
<p>LastName: <%= addr.text_field 'lname' %></p>
<p>Address1: <%= addr.text_field 'address1' %></p>
<p>Address2: <%= addr.text_field  'address2' %></p>
<p>City: <%= addr.text_field  'city' %></p>
<p>City: <%= addr.text_field  'state' %></p>
<p>City: <%= addr.text_field  'pincode' %></p>
<p>City: <%= addr.text_field  'phone' %></p>

<%= addr.submit "Save changes" %>
<% end %>

<%= link_to 'Back', {:action => 'index' } %>