
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag :action => 'create' do %>
    <%= render 'shared/error_messages' %>

     <p><label for = "name">Username</label>:
     <%= text_field 'user', 'name' %></p>
     <p><label for = "email">Email</label>:
     <%= email_field 'user', 'email' %></p>

     <p><label for = "password">Password</label>:
     <%= password_field 'user', 'password' %></p>

       <p><label for = "password_confirmation">RePassword</label>:
     <%= password_field 'user', 'repassword' %></p>
      
      <%= submit_tag "Sign Up" %>
    <% end %>
    <%= link_to 'login', {:action => 'login'} %>
    
  </div>
</div>




      

     
      